$blue: #003a94;
$cyan: #00acd4;
$white: #f7f7f7;
$black: #292929;

$font-family-primary: "Righteous", cursive;
$font-family-secondary: "Poppins", sans-serif;
$font-family-tertiary: "Lato", sans-serif;
